<div class="tag_form_container d-none">
  <%= form_with model: tag, remote: true, html: { autocomplete: "off" } do |form| %>
    <p>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </p>

    <p><%= form.submit class: "btn btn-primary" %> <button class="cancel_tag_form_link btn btn-danger">Cancel</button></p>
  <% end %>
</div>