// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
    margin: 25px 25px 25px 25px;
}

#main {
    margin: 25px 25px 25px 25px;   
}

.task_title {
    font-size: 18px;
    font-weight: bold;
}

.collection_check_boxes input {
    margin-left: 20px;
    margin-right: 2px;
}